FLAGSMITH_API_KEY='<INSERT FLAGSMITH_API_KEY HERE>'
NEXT_PUBLIC_FLAGSMITH_API_KEY='<INSERT FLAGSMITH_API_KEY HERE>'
NEXT_PUBLIC_LD_CLIENT_KEY='<INSERT FLAGSMITH_API_KEY HERE>'
LD_SDK_KEY='<INSERT FLAGSMITH_API_KEY HERE>'
